.post{
    background-color: cornflowerblue;
}

h3{
    margin: 0%;
}

.comments>ul>li{
    border: ghostwhite;
    border-style: groove;
    
}

.comments>ul>li>button{
    border: none;
    background-color: slategray;
    margin: .33rem;
    color: white;
    font-size: 16px;
}

.comments>ul{
    background-color: cornflowerblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}